.flexbox{
	display: flex;
}
.jcsb{
	justify-content: space-between;
}
.aic{
	align-items: center;
}
.tac{
	text-align: center;
}
.tal{
	text-align:left;
}
.tar{
	text-align: right;
}
.whiteword{
    color: #FFFFFF;
}
.redword{
	color: #650300;
}
.lightredword{
	color: #AA0601;
}
.ml24{
	margin-left: 24px;
}
.ml32{
	margin-left: 32px;
}
.mr8{
	margin-right: 8px;
}
.mr16{
	margin-right: 16px;
}
.mr48{
	margin-right: 48px;
}
.mt8{
	margin-top: 8px;
}
.mt16{
	margin-top: 16px;
}
.mt48{
	margin-top: 48px;
}
.mt80{
	margin-top: 80px;
}
.mb4{
	margin-bottom: 4px;
}
.mb8{
	margin-bottom: 8px;
}
.mb16{
	margin-bottom: 16px;
}
.mb24{
	margin-bottom: 24px;
}
.mb32{
	margin-bottom: 32px;
}
.mb48{
	margin-bottom: 48px;
}
.mb64{
	margin-bottom: 64px;
}
.mb72{
	margin-bottom: 72px;
}
.mb80{
	margin-bottom: 80px;
}
.pl12{
	padding-left: 12px;
}
.pl16{
	padding-left: 16px;
}
.pl64{
	padding-left: 64px;
}
.pr12{
	padding-right: 12px;
}
.pr16{
	padding-right: 16px;
}
.pt11{
	padding-top: 11px;
}
.pt12{
	padding-top: 12px;
}
.pt32{
	padding-top: 32px;
}
.pt36{
	padding-top: 36px;
}
.pt48{
	padding-top: 48px;
}
.pt60{
	padding-top: 60px;
}
.pt72{
	padding-top: 72px;
}
.pb6{
	padding-bottom: 6px;
}
.pb11{
	padding-bottom: 11px;
}
.pb12{
	padding-bottom: 12px;
}
.pb16{
	padding-bottom: 16px;
}
.pb24{
	padding-bottom: 24px;
}
.pb32{
	padding-bottom: 32px;
}
.pb36{
	padding-bottom: 36px;
}
.pb106{
	padding-bottom: 106px;
}
.bb{
	border-bottom: 1px solid #FFFFFF;
}
.bbr{
	border-bottom: 8px solid #AA0601;
}
.br{
	border-right: #DCDCDC solid 1px;
}
.style1{
	font-size: 20px;
}
.style2{
	font-size: 16px;
}
.style3{
	font-size: 36px;
}
.style4{
	font-size: 64px;
}
.style5{
	font-size: 48px;
}
.style6{
	font-size: 14px;
}
.style7{
	font-size: 32px;
}
.style8{
	font-size: 42px;
}
.style9{
	font-size: 24px;
}
.style10{
	font-size: 18px;
}
.style11{
	font-size: 19px;
}
.fw500{
	font-weight: 500;
}
.fw700{
	font-weight: 700;
}
.fw900_italic{
	font-weight: 900;
	font-style: italic;
}
a{
	text-decoration: none;
}

